// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$header-text: #ffffffe6;
$body: rgba(0, 0, 0, 0.778);
$footer-color: #b5d0cd6b;
$hover-color: pink;
$footer-color-op1: #b5d0cd;
