<div class="container__awwwardsone" data-controller="body" data-body-target="body">
  <div class="image-track" data-body-target="imageTrack" data-mouse-down-at="0" data-prev-percentage="0">
    <img class="image" src="https://images.unsplash.com/photo-1673361654018-0a7f27d8fa05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="pic" draggable='false' data-body-target="image" />
    <img class="image" src="https://images.unsplash.com/photo-1673284175200-cd6714555968?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="pic" draggable='false' data-body-target="image" />
    <img class="image" src="https://images.unsplash.com/photo-1673488680322-1becb786d3f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80" alt="pic" draggable='false' data-body-target="image" />
    <img class="image" src="https://images.unsplash.com/photo-1673468810663-aadc745ab561?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80" alt="pic" draggable='false' data-body-target="image" />
    <img class="image" src="https://images.unsplash.com/photo-1673232120601-a898f2a19d39?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80" alt="pic" draggable='false' data-body-target="image" />
    <img class="image" src="https://images.unsplash.com/photo-1673495249492-52c9c8122872?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="pic" draggable='false' data-body-target="image" />
    <img class="image" src="https://images.unsplash.com/photo-1673557964587-dd88a344e4ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="pic" draggable='false' data-body-target="image" />
    <img class="image" src="https://images.unsplash.com/photo-1673269234098-b737ce7d7948?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2215&q=80" alt="pic" draggable='false' data-body-target="image" />
  </div>
</div>
