// .overflow-x {
//   overflow-x: hidden;
// }

.container__awwwardsone {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow: hidden;

  .image-track {
    position: absolute;
    display: flex;
    gap: 4vmin;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    & > .image {
      width: 40vmin;
      height: 56vmin;
      object-fit: cover;
      object-position: 100% 50%;
    }
  }
}
