* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* la propriété par défaut est content-box */
	list-style: none;

  a{
    color: $header-text;
    text-decoration: none;
  }
}

header {
  position: relative;
  background-image: asset-url("banner-img.jpg");
  background-size: cover;
  height: 100vh;

  nav {
    position: fixed;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 66px;
    background-color: black;
    padding: 0 10px;
    width: 100%;
    z-index: 1;

    ul {
      display: flex;
    }

    a, p {
      color: $header-text;
      cursor: pointer;
      padding: 0 10px;
      transition: color 200ms ease;
      text-decoration: none;

      &:hover {
        color: pink;
      }
    }

    #log {
      opacity: 0;

      &:hover {
        cursor: default;
      }

      & > a:hover {
        cursor: default;
      }
    }
  }

  .header__image {
    backdrop-filter: brightness(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    h1 {
      color: white;
    }

    h3 {
      color: $header-text;
    }

    a {

    }
  }

  .header__scroll {
    position: absolute;
    align-items: center;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100vw;

    p {
      color: $header-text;
      opacity: 0;
      animation: flickering 4000ms linear infinite;
    }
  }
}
