.stacks {
  display: grid;
  grid-template-columns: repeat(5, 1fr) ;
  grid-gap: 50px 10px;
  max-width: 800px;
  margin: 0 auto;

  @media screen and (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr) ;
  }

  a {
    color: $body;
  }
}

.stack {
  position: relative;
  width: 100px;
  justify-self: center;

  p:first-child {
    display: flex;
  }

  img {
    margin: auto;
    opacity: 1;
    transition: opacity 300ms linear;
  }

  .stack-name {
    position: absolute;
    color: $footer-color-op1;
    width: 100%;
    top: 10px;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 300ms linear;

    strong {
      font-weight: bold;;
    }
  }

  .stack-man {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    p {
      font-size: 12px;
    }
  }

  &:hover {

    & img {
      opacity: 0;
    }

    & .stack-name {
      opacity: 1;
    }
  }
}
