nav {
  position: fixed;
  align-items: center;
  background-color: #00000000;
  display: flex;
  height: 66px;
  justify-content: space-between;
  padding: 0 10px;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: background-color 300ms linear;

  &.nav-bg {
    background-color: #000000e2;
  }

  ul {
    display: flex;
  }

  a {
    color: $header-text;
    cursor: pointer;
    font-size: 14px;
    padding: 0 10px;
    transition: color 200ms ease;
    text-decoration: none;

    &:hover {
      color: $footer-color-op1;
    }
  }

  #log {
    opacity: 0;

    &:hover {
      cursor: default;
    }

    & > a:hover {
      cursor: default;
    }
  }
}
