nav {
  position: fixed;
  align-items: center;
  background-color: #00000000;
  display: flex;
  height: 66px;
  justify-content: space-between;
  padding: 0 10px;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: background-color 300ms linear;

  @media screen and (max-width: 576px) {
    .nav-list {
      display: none;
    }
  }

  // burger menu

  .fa-bars {
    color: $header-text;
    cursor: pointer;
    transition: color 300ms linear;

    &:hover {
      color: $footer-color-op1;
    }
  }

  .toggle-menu {
    position: relative;

    .dropdown-list {

      ul {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 42px;
        right: -10px;
        transition: background-color 300ms linear;
      }

      li {
        padding: 5px 0;
        transition: background-color 300ms linear;

        &:hover {
          background-color: $footer-color;

          & > a {
            color: white;
          }
        }
      }
    }
  }

  ul {
    display: flex;
  }

  a {
    color: $header-text;
    cursor: pointer;
    font-size: 14px;
    padding: 0 10px;
    transition: color 200ms ease;
    text-decoration: none;
    transition: color 300ms linear;

    &:hover {
      color: $footer-color-op1;
    }
  }

  #log {
    opacity: 0;

    &:hover {
      cursor: default;
    }

    & > a:hover {
      cursor: default;
    }
  }
}

.nav-bg {
  background-color: #000000e2;
}
